
  .about {
    max-width: 1000px;
    margin: 100px auto 50px auto;
    display: flex;
    gap: 50px;
  }

  .about > *{
    flex: 1;
  }

  .about-pic {
    position: relative;
  }

  .about h1 {
    font-family: "rig-solid-bold-inline-solo", sans-serif;
    font-size: 35px;
    color: #E4E4E4;
    position: absolute;
    top: 3.5rem;
    left: 6.5rem;
  }

  .about p {
    margin-top: 35px;
    color: #124C59;
    text-align: justify;
    text-justify: inter-word;
  }


  @media (max-width: 1023px) {
    .about {
      display: flex;
      flex-direction: column;
      margin: auto;
    }  

    .about-pic {
      max-width: 550px;
      height: auto;
      margin: auto;
      margin-top: 20px;
    }

    .about p {
      margin: auto;
      max-width: 600px;
    }
    }