* {
  margin: 0rem 0rem;
  padding: 0rem;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0px 0px;
  font-family: "Montserrat", sans-serif;
}

header {
  margin: 0rem 2.5rem;
  align-items: center;
}

.header_div {
  margin: 1.25rem 1.25rem;
  display: flex;
  align-items: center;
}

.logo {
  width: 10.625rem;
  height: auto;
}

.search-bar {
  margin-left: 4.375rem;
  width: 15%;
  padding: 0.625rem 1.25rem 0.75rem 3.75rem;
  border: 1px solid #cecbcb;
  background-image: url(../images/search.png);
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 1.25rem;
}

::placeholder {
  text-transform: uppercase;
  margin-left: 1.875 rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.031rem;
  color: #999898;
}

nav {
  position: absolute;
  right: 0rem;
}

nav li {
  display: inline-block;
  margin-right: 4rem;
}

nav li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  color: black;
}

.nav-icon {
  width: 2.5rem;
  padding: 0.438rem;
}

hr {
  margin-top: 0.625rem;
  width: 100%;
  border: 0;
  height: 0.125rem;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(18, 76, 89, 100),
    rgba(0, 0, 0, 0)
  );
}

.breadcrumb ul {
  margin-left: 90px;
  margin-top: 35px;
  display: flex;
  list-style: none;
  gap: 15px;
}

.breadcrumb a {
  text-decoration: none;
  color: #4d5224;
}

.keep-btn {
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  margin: 3px 10px;
}

ul .active {
  text-decoration: underline;
}

.shopping-cart,
.delivery,
.shipping,
.payment, 
h2, 
h1 {
  max-width: 1125px;
  margin: auto;
  color: #124c59;
  margin-top: 50px;
  margin-bottom: 20px;
}
 /* CART SECTION */
.cart {
  border: 1px solid #707070;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.product-img {
  height: 130px;
  width: 200px;
  position: relative;
  padding: 20px;
}

.product-info {
  margin: 35px 25px;
  font-size: 18px;
  color: #118aa6;
  font-weight: 500;
}

#size {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0;
  border: 1px solid #bfbaba;
  background-color: #dbdbdb;
  color: #504f4f;
  padding: 2px 5px;
  width: 55%;
}

.number {
  margin-left: 400px;
  margin-top: 35px;
}

.number > input {
  max-width: 15px;
  text-align: center;
  margin-bottom: 70px;
  border-radius: 0;
  border: 1px solid #bfbaba;
  font-size: 20px;
}

.cart-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.shopping-cart button,
.code {
  margin-top: 12px;
  padding: 5px 15px;
  font-size: 16px;
}

.shopping-cart .code {
  width: 30%;
  padding: 8px 15px;
}

.shopping-cart button {
  float: right;
  margin-top: 10px;
  margin-right: 40px;
  border-radius: 0;
  background-color: #dbdbdb;
  border: 1px solid #cbc7c7;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 10px 15px;
}

/*DELIVERY SECTION */

.options {
  border: 1px solid #707070;
  padding: 10px 15px;
}

.options input {
  float: right;
  margin-right: 10px;
}

/* SHIPPING SECTION */

.wrap {
  display: flex;
  gap: 20px;
  text-align: left;
}

.wrap > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.wrap input {
  width: 95%;
  padding: 10px;
}

.wrap label {
  margin-top: 10px;
}

.check {
  margin-top: 10px;
}





contact-form,
form {
  display: flex;
  flex-direction: column;
}




/* PAYMENT SECTION */

.p-option {
  border: 1px solid #707070;
  padding: 10px 15px;
}

.p-option input {
  float: right;
  margin-right: 10px;
}

.pay {
  text-align: center;
  margin-top: 45px;
}

.pay button {
    background-color: #118aa6;
    padding: 15px 60px;
    border-radius: 0%;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    margin: 15px auto 25px;
}

footer {
  margin-top: 5rem;
  align-items: center;
}

.footer_nav {
  background-color: #e3e3de;
  text-align: center;
  padding: 17px;
}

footer li {
  display: inline-block;
  padding: 0 7.5rem;
}

footer li a {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-decoration: underline;
}

.end_footer {
  background-color: #525534;
  display: flex;
  flex: 1;
  gap: 25rem;
  justify-content: center;
  padding: 90px;
}

footer h2 {
  font-family: Montserrat, sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 300;
}

footer h3 {
  font-family: Montserrat, sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 0px;
}

.follow {
  display: flex;
  flex-direction: column;
  padding: 0% 0%;
}

.socials-icons {
  margin-top: 20px;
  margin: 18px;
}

.newsletter {
  padding: 0% 0%;
}

.news-email {
  padding: 15px;
  border-radius: 0;
  border: none;
}

.subscribe-btn {
  display: inline-block;
  margin-left: 7px;
  background-color: #118aa6;
  text-align: center;
  padding: 10px 20px;
}

.subscribe-btn p {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
