
.shopping-cart,
.delivery,
.shipping,
.payment, 
h2, 
h1 {
  max-width: 1125px;
  margin: auto;
  color: #124c59;
  margin-top: 50px;
  margin-bottom: 20px;
}
 /* CART SECTION */
.cart {
  border: 1px solid #707070;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  max-height: 30vh;
}

.product-info {
  margin: 35px 25px;
  font-size: 18px;
  color: #118aa6;
  font-weight: 500;
}

#size {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0;
  border: 1px solid #bfbaba;
  background-color: #dbdbdb;
  color: #504f4f;
  padding: 2px 5px;
  width: 55%;
}

.cart-img {
  height: 100%;
  object-fit: cover;
  margin-left: 10rem;
}

.shopping-cart button,
.code {
  margin-top: 12px;
  padding: 5px 15px;
  font-size: 16px;
}

.shopping-cart .code {
  width: 30%;
  padding: 8px 15px;
}

.shopping-cart button {
  float: right;
  margin-top: 10px;
  margin-right: 40px;
  border-radius: 0;
  background-color: #dbdbdb;
  border: 1px solid #cbc7c7;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 10px 15px;
}

/*DELIVERY SECTION */

.options {
  border: 1px solid #707070;
  padding: 10px 15px;
}

.options input {
  float: right;
  margin-right: 10px;
}

/* SHIPPING SECTION */

.wrap {
  display: flex;
  gap: 20px;
  text-align: left;
}

.wrap > * {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.wrap input {
  width: 95%;
  padding: 10px;
}

.wrap label {
  margin-top: 10px;
}

.check {
  margin-top: 10px;
}





contact-form,
form {
  display: flex;
  flex-direction: column;
}




/* PAYMENT SECTION */

.p-option {
  border: 1px solid #707070;
  padding: 10px 15px;
}

.p-option input {
  float: right;
  margin-right: 10px;
}

.pay {
  text-align: center;
  margin-top: 45px;
}

.pay button {
    background-color: #118aa6;
    padding: 15px 60px;
    border-radius: 0%;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    margin: 15px auto 25px;
}

@media (max-width: 1125px) {
  
  .shopping-cart,
  .delivery,
  .shipping,
  .payment {
    margin: 0rem 2rem;
  }

  .cart {
    display: flex;
    flex-wrap: wrap;
  }

  .cart-img {
    max-height: 15rem;
    object-fit: cover;
    margin-left: 10rem;
  }

  .product-info p {
    margin: 0rem;
  }

  #size {
    margin-top: 5px;
  }
  .code {
    max-width: 500px;
  }

  }

  @media (max-width: 800px) {

    .cart {
      margin-top: 20px;
      max-height: 40vh;
      align-items: center;
    }

    .cart-img {
      margin-left: 0rem;
    }

    .product-info {
      margin: 5px 10px;
      margin-top: -10px;
    }

    .product-info p{
      margin: 0;
      font-size: 18px;
    }

    .shopping-cart .code {
      width: 50%;
    }
  }