
.contact-info {
  margin: 2rem;
}

.contact h1 {
  font-family: 'rig-solid-bold-inline-solo';
  font-size: 3.8rem;
  color: #B45000;
}
.contact p {
  margin-top: 22px;
}

form {
  padding: 20px;
  max-width: 800px;
  margin: 2rem;
  color: #124C59;
}

.form-group label {
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
}

.form-group input {
  width: 320px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 4px;
}

input.invalid {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.send-button {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  background: none;
  border-radius: 10px;
  cursor: pointer;
}

.send-button:hover {
  background-color: yellow;
  border: black;
  color: white;
}

.hidden {
  display: none;
}

textarea {
  width: 500px;
  height: 200px;
}

.sent-message {
  margin: 2rem;
}

.sent-message p {
  font-weight: 400;
  color:black;
}

