.welcome {
  background-image: url("../images/welcome-photo.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;
  max-width: 1125px;
  margin: 40px auto;
  color: #0a3641;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  display: block;
}

.welcome-content h1 {
  font-family: "rig-solid-bold-inline-solo", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.063rem;
  line-height: 0.8;
  letter-spacing: -2px;
  padding-top: 50px;
}

.welcome-content h2 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 30px;
  padding: -10px;
}

.shop-news-btn {
  background-color: rgba(77, 82, 36, 0.8);
  display: inline-block;
  border-radius: 17px;
  padding: 16px;
  margin-top: 400px;
}

.shop-news-btn a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 32px;
  color: white;
  text-transform: uppercase;
  opacity: none;
}

.popular {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1125px;
  margin: auto;
  grid-gap: 10px;
}

.popular h2 {
  margin-top: 5rem;
  font-size: 26px;
  color: #0a3641;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  grid-column: -1/1;
  text-align: center;
}

.popular h3,
p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  color: #4d5224;
}

.popular img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  grid-column: -1/1;
}

.popular-product {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.popular-product h3,
.popular-product p {
  grid-column: 1;
  font-size: 22px;
  margin-top: 10px;
}

.popular-product p {
  margin-top: -10px;
}

.buy {
  margin-top: 15px;
  grid-column: 2;
  grid-row: 2/4;
}

.buy-btn {
  max-width: 74px;
  max-height: 74px;
}

.sales {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1125px;
  margin: auto;
  grid-gap: 10px;
  text-align: center;
}

.sales h2 {
  margin-top: 5.5rem;
  font-family: "Montserrat", sans serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #b45000;
  grid-column: -1/1;
}

.sales img {
  margin-top: 0.6rem;
  margin-bottom: 0.5rem;
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.sales a {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: #4d5224;
  text-decoration: none;
}

@media (max-width: 1125px) {
  .welcome {
    min-height: 80vh;
  }

  .welcome-content h1 {
    font-size: 3.3rem;
  }

  .welcome-content h2 {
    font-size: 24px;
  }

  .shop-news-btn {
    background-color: rgba(77, 82, 36, 0.8);
    margin-top: 200px;
  }

  .popular {
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem;
    grid-gap: 50px;
  }

  .popular img {
    height: 250px;
  }

  .popular-product {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }

  .popular-product h3 {
    display: grid;
  }
  .popular-product p {
    grid-column: 1;
    grid-row: 3;
    font-size: 22px;
    margin-top: 10px;
  }

  .popular > .orange {
    display: none;
  }

  .sales {
    margin: 2rem;
    grid-gap: 50px;
  }

  .sales img {
    height: 250px;
  }
  
}
