
.product-presentation {
  max-width: 1000px;
  margin: 100px auto 50px auto;
  display: flex;
  gap: 90px;
  text-align: center;
}

.product-presentation > * {
  flex: 1;
}

.carousel {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.carousel img {
  max-width: 100%;
  max-height: 100%;
}

.img-select {
  margin-top: 10px;
}

.product-info {
    text-align: center;
    margin-top: 46ypx;
}

.sizes {
    text-align: center;
    margin-bottom: 13px;
    margin-right: 40px;
}

.sizes > label {
    display: inline-block;
    padding: 25px;
    position: relative;
}

.sizes > label > input {
    display: none;
}

.sizes > label > span {
    display:inline-block;
    border: 1px solid #ccc;
    width: 20px;
    height: 15px;
    position: absolute; 
    overflow: hidden;
    line-height: 1;
    font-size: 19px;
    padding: 8px;
}

.sizes > label > input:checked + span {background: #E7D1A1; border-color: #E7D1A1;}

.size-guide {
    color:#b45000;
    text-decoration: underline;
}

.add {
    background-color: #D2A74C;
    padding: 15px 40px;
    border-radius: 0%;
    border: none;
    font-family: 'Montserrat', sans-serif;
    color: #4D5224;
    font-size: 16px;
    margin: 15px;
}

.description {
    color: #4D5224;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    margin-top: 13px;
    border: 1px solid #707070;
    padding: 20px 10px;
}

.description p {
    margin-top: 20px;
}

.description h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-decoration: underline;
}