

.success {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  font-size: 22px;
  max-width: 33rem;
}

.checkmark {
  margin-top: 7rem;
}

.confirmation {
  margin-top: 2.5rem;
}

.continue {
  background-color: #118aa6;
  display: inline-block;
  text-align: center;
  margin: 2.5rem auto 2rem auto;
  padding: 10px 80px;
}

.continue p {
    color: white;
    text-transform: uppercase;
}
